

/* --------------------------------------------*/
/* ---------------defaut setup-----------------*/
/* --------------------------------------------*/
*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;   
}
html{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    /* mặc định font size là 16px */
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    /* cách hiện thị chữ trên trang web tốt nhất trên web */
}
/* ----------------------------------------------*/
/* -----------------REUSABLE COMPONENT-----------*/
/* ----------------------------------------------*/
.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 50px;
    width: 190px;
    display: inline-block;
    /* nó sẽ lấy giao thuộc tính của hai thằng này - vì thằng Block mới chỉnh dc
    height và width được */
    text-align: center;
    /* căn chữ ở giữa */
    transition: all 3s;
    /* thuộc tính all nếu mình ko cần các hiệu ứng chạy lệnh nhau
    thì chọn all */
}
.btn:hover,
.btn:active{
    background-color: #d35400;
    /* nó để đổi màu khi mình trỏ chuột vào */
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
    /* mục đích của nó để ko truyền định dạng xuống phần row từ 
    định dạng của main-nav */
}
.row{
    width: 1140px;
    margin: 0 auto;
}
h2, h2, h3{
    text-transform: uppercase;
    /* biến đổi kiểu chữ toàn bộ chữ in hoa */
    letter-spacing: 1px;
    /* khoảng cách giữa các chữ cái với nhau */
}
h1{
 
    font-size: 300%;
    font-weight: 400;
    word-spacing:5px;
    /* khoảng cách giữa các từ với nhau */
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}
h2{
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2::after{
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgba(230,126,34,0.5);
    margin: 0 auto;
    margin-top: 5px;
    /* với hàm pseudo này, ý là after sau cái h2 thì mình sẽ add thêm 1 cái khối với 
    kích thước màu sắc như khai báo, màu + độ mờ */
}
h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color:white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}
.small-icon{
    color: #305679;
    font-size: 130%;
    margin-right: 10px;
}
.p-long{
    text-align: center;
    color: rgb(38, 80,119);
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    /* đơn giản vì phần nội dung chiếm 70% thì còn lại chia đôi là 15% */
    line-height: 140%;
}
/* ----------------------------------------------*/
/* -----------------HEADER-----------------------*/
/* ----------------------------------------------*/
section{
    padding: 50px;
}
header{
    background-image:linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/DUC_5821.JPG);
    /* phối giữa hai màu với nhau theo chiều mình mong muốn từ right to top..... hoặc dùng 135deg dùng độ hoặc dùng phần trăm */
    /* để hiện thị đờ mờ dử dụng rgba */
    /* có 2 dấu chấm vì sau, ý là với thẻ style.css 
    thì nó phải ra khỏi folder của nó sau đó mới lại 
    quay lại thẻ img */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* view heigth - lấy phần trăm của view nhìn */
    background-attachment: fixed;
    /* mục đích của nó để fix view nhìn của ảnh background dù 
    di chuyển nó vẫn đi theo */
}
.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}
.main-nav{
    float: right;
    list-style: none;
    /* mục đích của nó để bỏ qua định dạng 
    hiển thị của list dấu gạch - or . */
    margin-right: 50px;
    margin-top: 55px;
}
.main-nav li a{
    text-decoration: none;
    color:white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
    padding: 3px 0;
    /* mục đích của nó để hiện cái delay của border-bottom: */
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid white;
}
.main-nav li{
    display: inline-block;
    /* mục đích để cho chúng hiện thị cùng 1 dòng, 
    không theo định dạng block  */
    margin-right: 30px;
}
.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-55%);
    /* dịch chuyển đúng bằng % kích thước của box */
    width: 1140px;
}

/* ----------------------------------------------*/
/* -----------------ABOUT SECTION----------------*/
/* ----------------------------------------------*/
.about-picture{
    position: relative;
    margin-top: 50px;
}
.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077;
    /* gồm 5 thuộc tính, x - y - độ mờ - độ phóng - rộng màu */
    /* độ dịch chuyển x, y so với đối tượng dùng shadow */
    /* filter: brightness(55%) blur(2px); */
    transition: all 0.5s;
}
.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%,100%);
    opacity: 0;
    transition: all 0.5s;
}
.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, -50%);
    /* tức là khi hover cái thằng about picture thì mình sẽ 
    chỉnh thuộc tính của picture title */
    opacity: 1;
    /* như vậy css rất thông minh nó sẽ hiểu thằng 
    lệnh cuối cùng để áp dụng cho thằng picture-title */
}
.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%) blur(2px);
}
/* ----------------------------------------------*/
/* -----------------PRODUCT_SECTION--------------*/
/* ----------------------------------------------*/
.products-section{
    background-color: #f4f4f4;

}
.products-section h2{
    margin-bottom: 60px;
}
.product-box{
    background-color: #eeefff;
    box-shadow: 3px 5 px 10px #e0e0e0;
    width: 90%;
    height: 350px;
}
.product-price{
    font-size: 250%;
    color: #265077;
    font-weight: 300;
    text-align: center;
}
.product-price span{
    font-size: 80%;
}
.product-box ul li{
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-box .btn{
    margin-left: 20%;
}
/* ----------------------------------------------*/
/* -----------------TESTIMONIAL_SECTION----------*/
/* ----------------------------------------------*/
.testimonials-section{
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/background2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.testimonials-section h2{
    margin-bottom: 70px;
}
blockquote {
    position: relative;
    width: 95%;
    font-style: italic;
    line-height: 130%;
    color: white;
}
blockquote:before{
    content:"\0022";
    display: block;
    font-size: 400%;
    position: absolute;
    top:-10px;
    left:-10px;
}
cite img{
    border-radius: 50%;
    height: 50px;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}
cite{
    display: block;
    color: #6b95bd;
    margin-top: 25px;
}
/* ----------------------------------------------*/
/* --------------------SPONSOR_SECTION----------*/
/* ----------------------------------------------*/
.sponsors-section{
    background-color: #f4f4f4;
}
.sponsors-section h2{
    margin-bottom: 50px;
}
.sponsors-showcase{
    margin-left: 8%;
}
.sponsors-showcase li{
    list-style: none;
    float: left;
    width:30%;
    text-align:center;
    margin-bottom: 20px;
}
.logo-sponsor{
    width: 140px;
    cursor: pointer;
    transition: all 0.3s;
}
.sponsors-showcase li .logo-sponsor:hover,
.sponsors-showcase li .logo-sponsor:active{
    transform: scale(1.2);
}
figcaption{
    color: #265077;
    font-weight: 900;
    font-size: 120%;
    cursor: pointer;
}
/* ----------------------------------------------*/
/* --------------------CONTACT_SECTION----------*/
/* ----------------------------------------------*/
.contact-section{
    background-image:linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/background5.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.information{
    list-style:none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;
}
.information .small-icon{
    color: #427db4;
}
.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}
.social-icons{
    margin-top: 50px;
    list-style: none;
}
.social-icons li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
}
.social-icons li i{
    transition: all 0.3s;
    cursor: pointer;
}
.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.3);
    color: #e67e22;
}
/* ----------------------------------------------*/
/* --------------------FOOTER_SECTION----------*/
/* ----------------------------------------------*/
footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}
